{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<style>
  .movie-img{
    width: 100px;
  }
</style>
<div class="container">
    <h1 class="heading">Select Movie</h1>
    {% for movie in data %}
      <p>
        <img src="{{movie['poster_path']}}" alt="image N/A" class="movie-img">
        <a href="{{url_for('save', movie_id=movie['id']) }}"> {{ movie['original_title'] }} - {{ movie['release_date'] }}</a>
      </p>
    {%endfor%}

</div>
{% endblock %}